@charset "UTF-8";
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
header,
ul,
li,
dl,
dt,
dd,
ol,
nav,
input,
footer {
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
}
body {
    width: 100%;
    height: 100%;
    color: #000;
    background: #000;
    overflow-x: hidden;
    /*上下拉动滚动条卡顿设置*/
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    /* ip x */
    /* padding-top: constant(safe-area-inset-top);             
    padding-left: constant(safe-area-inset-left);                
    padding-right: constant(safe-area-inset-right);           
    padding-bottom: constant(safe-area-inset-bottom);      */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-family: "微软雅黑", "Microsoft YaHei", "宋体", serif, "SimSun", Arial, Helvetica, sans-serif;
}

body,
button,
input,
select,
textarea {
    font: 10px/1.5;
}

button,
input {
    background: transparent;
    outline: none;
    border: none;
}






/*1px边框*/

Element {
    border-width: thin;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul,
li {
    list-style: outside none none;
}


/*img{border:none;  vertical-align:middle; width:100%;}*/

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

:focus {
    outline: 0;
}


/*去掉iPhone上的默认圆角样式*/

input {
    -webkit-appearance: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}


/*去出选中时高亮*/

img,
a,
div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
    background: none;
}

::-moz-selection {
    background: none;
}

::-webkit-selection {
    background: none;
}


/*隐藏bady滚动条*/

*::-webkit-scrollbar {
    display: none;
}


/*清除浮动*/

.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.selectAvailable {
    -webkit-tap-highlight-color: rgba(231, 105, 105, 0.7);
}

.selectAvailable::selection {
    background: rgba(231, 105, 105, 0.7);
}

.selectAvailable::-webkit-selection {
    background: rgba(231, 105, 105, 0.7);
}


/*实用类*/

.otl {
    outline: 1px solid red;
}


/*ab-c 居中*/

.ab-c {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ab-c-w {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


/*ab-f 全屏*/

.ab-f {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.dp-n {
    display: none !important;
}

.dp-b {
    display: block !important;
}

.op0 {
    opacity: 0;
}

.ajaxLayer {
    display: none;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.9);
}
.ajaxLayer .ajaxLayer-inbox{
    width: 1.28rem;
    height: 4rem;
}
.ajaxLayer .ajaxLayer-inbox img{
    width: 1.28rem;
}
.ajaxLayer .ajaxLayer-inbox div{
    width: 1.28rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 20px;
    color: #fff;
}


.up {
    top: -100%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.down {
    top: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}



input::-webkit-input-placeholder,
input,
button,
body,
div {
    /* WebKit browsers */
    font-family: "微软雅黑", "Microsoft YaHei", "宋体", serif, "SimSun", Arial, Helvetica, sans-serif;
}

input:-moz-placeholder,
input,
button,
body,
div {
    /* Mozilla Firefox 4 to 18 */
    font-family: "微软雅黑", "Microsoft YaHei", "宋体", serif, "SimSun", Arial, Helvetica, sans-serif;
}

input::-moz-placeholder,
input,
button,
body,
div {
    /* Mozilla Firefox 19+ */
    font-family: "微软雅黑", "Microsoft YaHei", "宋体", serif, "SimSun", Arial, Helvetica, sans-serif;
}

input:-ms-input-placeholder,
input,
button,
body,
div {
    /* Internet Explorer 10+ */
    font-family: "微软雅黑", "Microsoft YaHei", "宋体", serif, "SimSun", Arial, Helvetica, sans-serif;
}

/*********************************************************/
/*Swiper原样式 */
.swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");}
/*改变了颜色和加粗的样式*/
.swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L5%2C44l-4.2-4.2L18.6%2C22L0.8%2C4.2L5%2C0z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");}

/*********************************************************/

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    display: none;
}

.fl {
    float: left;
}
.fr {
    float: right;
}

.red-input {
    color: #ff0000 !important;
}
.red-input:-ms-input-placeholder{
    color: #ff0000;opacity:1;
}

.red-input::-webkit-input-placeholder{
    color: #ff0000;opacity:1;
}

.black-font {
    color: #000 !important;
}

.wid100 {
    width: 100%;
}
.wid160 {
    width: 1.6rem;
}
.wid225 {
    width: 2.25rem;
}
.wid325 {
    width: 3.25rem;
}
.pt30 {
    padding-top: 0.3rem !important;
}
.mt10 {
    margin-top: 0.1rem !important;
}
.mt20 {
    margin-top: 0.2rem !important;
}
.mt35 {
    margin-top: 0.35rem !important;
}
.mt40 {
    margin-top: 0.40rem !important;
}
.mt60 {
    margin-top: 0.6rem !important;
}
.mt70 {
    margin-top: 0.70rem !important;
}
.mt80 {
    margin-top: 0.80rem !important;
}
.mt90 {
    margin-top: 0.90rem !important;
}
.mt100 {
    margin-top: 1.0rem !important;
}
.mt120 {
    margin-top: 1.2rem !important;
}
.mt140 {
    margin-top: 1.4rem !important;
}
.mt170 {
    margin-top: 1.7rem !important;
}
.mt200 {
    margin-top: 2rem !important;
}
.mb360 {
    margin-bottom: 3.6rem !important;
}
.mr10 {
    margin-right: .1rem !important;
}
.mr20 {
    margin-right: .2rem !important;
}
.mr42 {
    margin-right: .42rem !important;
}
.logo {
    width: 1.9rem;
    height: 0.44rem;
    margin: 0 auto;
}
/* home页 */
.page1 {
    background: url('http://7xj7xs.com1.z0.glb.clouddn.com/txktbg.jpg') no-repeat center center;
	background-size: cover;
	position: relative;
}
.page1 .arrow {
    width: 10%;
	position: absolute;
	left: 45%;
	bottom: 15px;
	z-index: 99;
}
.page1 .home-title {
    width: 3.5rem;
    height: 2rem;
    margin: 0 auto;
}
.page1 .home-video-con {
    width: 100%;
    height: 5rem;
    background: url('../img/new-home-juxing.png') no-repeat center center;
    background-size: contain;
    position: relative;
}
.page1 .home-video-con .video-img {
    width: 95%;
    height: 4.6rem;
    z-index:10;
}
.page1 .video {
    width: 94%;
    height: 4.4rem;
}
.page1 .home-see {
    width: 3.5rem;
    height: 0.38rem;
    margin: 0 auto;
}

/* 选择目标页 */
.page2 {
    background: url('../img/new-inputmb-bg.png') no-repeat center center;
	background-size: cover;
	position: relative;
}
.page2 .one-title {
    width: 5rem;
    height: 0.62rem;
    margin: 0 auto;
}

.page2 .one-input {
    width: 4.6rem;
    height: 1.2rem;
    margin: 0 auto;
    position: relative;

}
.page2 .one-input input {
    width: 100%;
    height: 0.9rem;
    line-height: 1.2rem;
    text-align: center;
    font-size: 0.32rem;
    color:#fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
    z-index: 10;
}
.page2 .one-input .input-tips {
    width: 2.20rem;
    height: 0.74rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: auto;
}
.page2 .one-input .input-border {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    margin: auto;
}

.page2 .one-target-con {
    width: 100%;
    height: 2.4rem;
}
.page2 .one-target-box {
    position: relative;
}
.page2 .target-circle {
    line-height: 0.6rem;
    font-size: 16px;
    text-align: center;
    color: #fff;
}
.page2 .target-circle1 {
    width: 3.6rem;
    height: 0.6rem;
    background: url('../img/new-inputmb-lbox.png') no-repeat center center;
    background-size: contain;
}
.page2 .target-circle2 {
    width: 2.75rem;
    height: 0.6rem;
    background: url('../img/new-inputmb-sbox.png') no-repeat center center;
    background-size: contain;
}
.page2 .target1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.page2 .target2{
    position: absolute;
    top: 0.9rem;
    right: 0.75rem;
} 
.page2 .target3{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.page2 .target4{
    position: absolute;
    left: 0.75rem;
    top: 0.9rem;
}
.page2 .target-circle img {
    height: 0.33rem;
}
.page2 .target-submit {
    width: 3rem;
    height: 0.84rem;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    background: url('../img/new-inputmb-confirmbg.png') no-repeat center center;
    background-size: contain;
}
.page2 .target-submit img {
    width: 1.4rem;
    height: 0.4rem;
}

/* 选择目标分享方式页 */
.page3 {
    background: url('../img/new-nine-bg.png') no-repeat center center;
	background-size: cover;
	position: relative;
}
.s-question {
    width: 4.63rem;
    height: 0.46rem;
    margin: 0 auto;
}
.shareway-btn-box {
    width: 5.2rem;
    height: 0.66rem;
    line-height: 0.66rem;
    text-align: center;
    font-size: 0.5rem;
    margin: 0 auto;
    overflow: hidden;
}
.shareway-btn-box .shareway-btn {
    display: block;
    width: 2.3rem;
    height: 0.66rem;
    line-height: 0.66rem;
    border-radius: 5px;
    -webkit-border-radius:5px;
    background: #454545;
    color: #fff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
}




/* 用于生成生成目标图片的起始页 */
.page4 {
    background: url('../img/new-nine-bg.png') no-repeat center center;
	background-size: cover;
	position: relative;
}
.page4 .t-userinfo-box{
    width: 5.3rem;
    height: 1.3rem;
    margin: 0 auto;
}
.page4 .t-userinfo-avatar {
    width: 1.28rem;
    height: 1.28rem;
    overflow: hidden;
}
.page4 .t-userinfo-avatar img {
    width: 1.28rem;
    height: 1.28rem;
}
.page4 .t-userinfo-nickname {
    width: 4rem;
    height: 0.28rem;
    line-height: 0.28rem;
    font-size: 0.28rem;
    text-indent: 10px;
    color: #fff;
}
.page4 .t-userinfo-say {
    width: 4rem;
    height: 0.9rem;
    overflow: hidden;
}
.page4 .t-say {
    width: 4rem;
    height: 0.9rem;
    background: url('../img/new-t-saybox.png') no-repeat center center;
    background-size: contain;
    position: relative;
}
.page4 .t-say  img {
    width: 3.27rem;
}
/* 朋友猜 */
.page5 {
    background: url('../img/new-nine-bg.png') no-repeat center center;
	background-size: cover;
	position: relative;
}
.page5 .g-userinfo-box{
    width: 5.3rem;
    height: 1.3rem;
    margin: 0 auto;
}
.page5 .g-userinfo-avatar {
    width: 1.28rem;
    height: 1.28rem;
    overflow: hidden;
}
.page5 .g-userinfo-avatar img {
    width: 1.28rem;
    height: 1.28rem;
}
.page5 .g-userinfo-nickname {
    width: 4rem;
    height: 0.28rem;
    line-height: 0.28rem;
    font-size: 0.28rem;
    text-indent: 10px;
    color: #fff;
}
.page5 .g-userinfo-say {
    width: 4rem;
    height: 0.9rem;
    overflow: hidden;
}
.page5 .g-say {
    width: 4rem;
    height: 0.9rem;
    background: url('../img/new-t-saybox.png') no-repeat center center;
    background-size: contain;
    position: relative;
}
.page5 .g-say  img {
    width: 3.27rem;
}

/* 好友猜 默契度列表页 */
.page6 {
    background: url('../img/new-guess-bg.png');
    /* overflow-y: scroll; */
}
.page6 .result-myavatar-box {
    width: 1.34rem;
    height: 1.34rem;
    margin: 0 auto;
    overflow: hidden;
    background: #fff;
}
.page6 .result-mynickname-box {
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
    color: #fff;
}
.page6 .guessed-friendlist-box {
    width: 6rem;
    margin: 0 auto;
    /* background: #33c9ff; */
    overflow-y: scroll;
    max-height: 5.2rem;
    padding-bottom: 10px;
}
.page6 .guess-line {
    width: 100%;
    height: 0.2rem;
    position: relative;
}
.page6 .no-friend {
    height: 1rem;
    line-height: 1rem;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.page6 .guessed-friend {
    /* width: 100%; */
    height: 1.2rem;
    line-height: 1.2rem;
    margin-top: 15px;
    font-size: 18px;
    color: #fff;
    overflow: hidden;
}
.page6 .guessed-friend .guessed-friend-info {
    width: 4.2rem;
    overflow: hidden;
}
.page6 .guessed-friend .guessed-friend-avatar {
    width: 1.2rem;
}
.page6 .guessed-friend .guessed-friend-name {
    width: 3rem;
    text-indent: 5px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.page6 .guessed-friend .guessed-friend-moqi {
    width: 1.6rem;
    text-align: center;
}
.page6 .guess-retarget {
    width: 2.4rem;
    height: 0.84rem;
    line-height: 0.84rem;
    font-size: 16px;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}


/* 九宫格部分 */
.nine-box {
    width: 5.18rem;
    height: 7rem;;
    margin: 0 auto;
    overflow: hidden;
}
.nine-target {
    width: 1.66rem;
    height: 1.66rem;
    line-height: 1.66rem;
    font-size: 0.24rem;
    color: #fff;
    text-align: center;
    position: relative;
    float: left;
}
.nine-text {
    position: absolute;
    top: 0.8rem;
    width: 1.6rem;
    height: 0.28rem;
    line-height: 0.28rem;
}
.nine-logo {
    width: 0.47rem;
    height: 0.40rem;
    position: absolute;
    top: 0.24rem;
    left: 0;
    right: 0;
    margin: auto;
}
.guess-error {
    width: 1.66rem;
    height: 1.68rem;
    display: none;
    background: rgba(0, 0, 0, 0.7);
}
.guess-error img{
    width: 1.13rem;
    height: 0.67rem;
}
.share-code {
    width: 1.34rem;
    height: 1.34rem;
    margin: 0 auto;
    background: #fff;
}

/* 弹出层部分 */
.length-layer {
    background-color: rgba(0, 0, 0, 0.3);
}
.length-layer .length-tips {
    width: 4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.target-upload-layer {
    background-color: rgba(0, 0, 0, 0.3);
}

.target-upload-layer div {
    width: 4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.share-ta-layer {
    background-color: rgba(0, 0, 0, 0.7);
}

.share-ta-layer .share-arrow-box {
    width: 4.3rem;
    height: 1.9rem;
    line-height: 3.8rem;
    position: absolute;
    top: 0.2rem;
    right: 0.6rem;
    background: url('../img/new-share-arrow.png') no-repeat right top;
    background-size: 1.7rem 1.3rem;
    color: #fff;
    font-size: 16px;
}

.share-pic-layer {
    background-color: rgba(0, 0, 0, 0.7);
}

.share-pic-layer div {
    width: 4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.save-pic-layer {
    background-color: rgba(0, 0, 0, 0.7);
}
.save-pic-layer div {
    height: 1rem;
    color: #fff;
    font-size: 24px;
    text-align: center;
}
.guess-right-layer {
    background-color: rgba(0, 0, 0, 0.3);
}
.guess-right-layer .guess-tips-box {
    width: 4.14rem;
    height: 2.73rem;
    color: #fff;
    text-align: center;
    background: url('../img/new-guess-box.png') no-repeat center center;
    background-size: contain;
}
.guess-right-layer .guess-tips {
    background-color: rgba(0, 0, 0, 0.7);
    width: 3.9rem;
    height: 2.4rem;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
.guess-right-layer .guess-tips .guess-right-tip {
    font-size: 32px;
}
.guess-right-layer .guess-tips .guess-right-mqd {
    font-size: 24px;
}
.guess-right-layer .guess-tips .guess-right-desc {
    color: #33c9ff;
    font-size: 16px;
}
.guess-right-layer .guess-generate {
    background:rgba(50, 140, 220, 0.8);
    width: 2.4rem;
    height: 0.8rem;
    line-height: 0.8rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3.7rem;
    margin: auto;
    border-radius: 5px;
    -webkit-border-radius:5px;
}
.guess-right-layer .guess-generate img {
    width: 1.93rem;
    height: 0.28rem;
}

#generatePicShow img {
    -webkit-touch-callout: default !important;
}
