@charset "UTF-8";
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
header,
ul,
li,
dl,
dt,
dd,
ol,
nav,
input,
footer {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    color: #000;
    background: #000;
    overflow-x: hidden;
    /*上下拉动滚动条卡顿设置*/
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-family: "微软雅黑", "Microsoft YaHei", "宋体", serif, "SimSun", Arial, Helvetica, sans-serif;
}

body,
button,
input,
select,
textarea {
    font: 10px/1.5;
}

button,
input {
    background: transparent;
    outline: none;
    border: none;
}

html {
    width: 100%;
    /* height: 100%; */
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
}




/*1px边框*/

Element {
    border-width: thin;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul,
li {
    list-style: outside none none;
}


/*img{border:none;  vertical-align:middle; width:100%;}*/

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

:focus {
    outline: 0;
}


/*去掉iPhone上的默认圆角样式*/

input {
    -webkit-appearance: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}


/*去出选中时高亮*/

img,
a,
div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
    background: none;
}

::-moz-selection {
    background: none;
}

::-webkit-selection {
    background: none;
}


/*隐藏bady滚动条*/

*::-webkit-scrollbar {
    display: none;
}


/*清除浮动*/

.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.selectAvailable {
    -webkit-tap-highlight-color: rgba(231, 105, 105, 0.7);
}

.selectAvailable::selection {
    background: rgba(231, 105, 105, 0.7);
}

.selectAvailable::-webkit-selection {
    background: rgba(231, 105, 105, 0.7);
}


/*实用类*/

.otl {
    outline: 1px solid red;
}


/*ab-c 居中*/

.ab-c {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ab-c-w {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


/*ab-f 全屏*/

.ab-f {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.dp-n {
    display: none !important;
}

.dp-b {
    display: block !important;
}

.op0 {
    opacity: 0;
}

.ajaxLayer {
    display: none;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.6);
}

.up {
    top: -100%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.down {
    top: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}



input::-webkit-input-placeholder,
input,
button,
body,
div {
    /* WebKit browsers */
    font-family: "微软雅黑", "Microsoft YaHei", "宋体", serif, "SimSun", Arial, Helvetica, sans-serif;
}

input:-moz-placeholder,
input,
button,
body,
div {
    /* Mozilla Firefox 4 to 18 */
    font-family: "微软雅黑", "Microsoft YaHei", "宋体", serif, "SimSun", Arial, Helvetica, sans-serif;
}

input::-moz-placeholder,
input,
button,
body,
div {
    /* Mozilla Firefox 19+ */
    font-family: "微软雅黑", "Microsoft YaHei", "宋体", serif, "SimSun", Arial, Helvetica, sans-serif;
}

input:-ms-input-placeholder,
input,
button,
body,
div {
    /* Internet Explorer 10+ */
    font-family: "微软雅黑", "Microsoft YaHei", "宋体", serif, "SimSun", Arial, Helvetica, sans-serif;
}

/*********************************************************/
/*Swiper原样式 */
.swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");}
/*改变了颜色和加粗的样式*/
.swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L5%2C44l-4.2-4.2L18.6%2C22L0.8%2C4.2L5%2C0z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");}

/*********************************************************/

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    display: none;
}

.fl {
    float: left;
}
.fr {
    float: right;
}

.red-input {
    color: #ff0000 !important;
}
.red-input:-ms-input-placeholder{
    color: #ff0000;opacity:1;
}

.red-input::-webkit-input-placeholder{
    color: #ff0000;opacity:1;
}

.wid100 {
    width: 100%;
}
.mt10 {
    margin-top: 0.1rem !important;
}
.mt35 {
    margin-top: 0.35rem !important;
}
.mt40 {
    margin-top: 0.40rem !important;
}
.mt60 {
    margin-top: 0.6rem !important;
}
.mt70 {
    margin-top: 0.70rem !important;
}
.mt80 {
    margin-top: 0.80rem !important;
}
.mt90 {
    margin-top: 0.90rem !important;
}
.mt100 {
    margin-top: 1.0rem !important;
}
.mt120 {
    margin-top: 1.2rem !important;
}
.mt140 {
    margin-top: 1.4rem !important;
}
.mt170 {
    margin-top: 1.7rem !important;
}
.mr20 {
    margin-right: .2rem !important;
}
.mr42 {
    margin-right: .42rem !important;
}
.logo {
    width: 2.25rem;
    height: 0.56rem;
    margin: 0 auto;
}
/* home页 */
.page1 {
    background: url('../img/home-bg.png') no-repeat center center;
	background-size: cover;
	position: relative;
}
.page1 .arrow {
    width: 10%;
	position: absolute;
	left: 45%;
	bottom: 10px;
	z-index: 99;
}
.page1 .home-title {
    width: 4.33rem;
    height: 1.79rem;
    margin: 0 auto;
}
.page1 .home-video-con {
    width: 100%;
    height: 5rem;
    background: #fff;
}
.page1 .home-see {
    width: 2.81rem;
    height: 0.37rem;
    margin: 0 auto;
}

/* 选择目标页 */
.page2 {
    background: url('../img/one-bg.png') no-repeat center center;
	background-size: cover;
	position: relative;
}
.page2 .one-title {
    width: 4.35rem;
    height: 0.6rem;
    margin: 0 auto;
}

.page2 .one-input {
    width: 4.6rem;
    height: 0.6rem;
    margin: 0 auto;
}
.page2 .one-input input {
    width: 100%;
    text-align: center;
    font-size: 0.32rem;
    color:#fff;
}

.page2 .one-target-con {
    width: 100%;
    height: 4.6rem;
}
.page2 .one-target-box {
    position: relative;
}
.page2 .target-circle {
    width: 2.3rem;
    height: 2.3rem;
    background: url('../img/one-circle.png') no-repeat center center;
    background-size: contain;
}
.page2 .target1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.page2 .target2{
    position: absolute;
    top: 1.15rem;
    right: 1rem;
} 
.page2 .target3{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.page2 .target4{
    position: absolute;
    left: 1rem;
    top: 1.15rem;
}
.page2 .target-circle img {
    width: 1.2rem;
}
.page2 .target-submit {
    width: 3rem;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    color: #000;
    font-size: 0.5rem;
    background: #ffc100;
    margin: 0 auto;
}
/* 选择目标分享方式页 */
.page3 {
    background: url('../img/t-bg.png') no-repeat center center;
	background-size: cover;
	position: relative;
}
.s-question {
    width: 4.19rem;
    height: 1.29rem;
    margin: 0 auto;
}
.shareway-btn-box {
    padding: 5px;
    width: 5rem;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    color: #000;
    font-size: 0.5rem;
    margin: 0 auto;
    overflow: hidden;
}
.shareway-btn-box .shareway-btn {
    background: #ffc100;
    padding: 0 10px;
}




/* 用于生成生成目标图片的起始页 */
.page4 {
    background: url('../img/t-bg.png') no-repeat center center;
	background-size: cover;
	position: relative;
}
.page4 .t-userinfo-box{
    width: 6.6rem;
    height: 1.45rem;
    margin: 0 auto;
}
.page4 .t-userinfo-avatar {
    width: 1.28rem;
    height: 100%;
}
.page4 .t-userinfo-avatar img {
    width: 1.28rem;
    height: 1.28rem;
    background: #fff;
}
.page4 .t-userinfo-nickname {
    width: 5.3rem;
    height: 0.28rem;
    line-height: 0.28rem;
    font-size: 0.28rem;
    text-indent: 30px;
    color: #fff;
}
.page4 .t-userinfo-say {
    width: 5.3rem;
    height: 1rem;
    overflow: hidden;
}
.page4 .t-say-l {
    width: 0.18rem;
    height: 1rem;
    background: url('../img/t-xiaosj.png') no-repeat left 0.18rem;
    background-size: contain;
}
.page4 .t-say-r {
    width: 5rem;
    height: 1rem;
    line-height: 1rem;
    background: url('../img/t-yuanjuxing.png') no-repeat -3px center;
    background-size: contain;
    position: relative;
}
.page4 .t-say-r  img {
    width: 4.7rem;
}

/* 九宫格部分 */
.nine-box {
    width: 6.14rem;
    height: 6rem;;
    margin: 0 auto;
    overflow: hidden;
}
.nine-target {
    width: 1.76rem;
    height: 1.76rem;
    line-height: 1.76rem;
    font-size: 0.28rem;
    text-align: center;
    position: relative;
    float: left;
}
.nine-text {
    position: absolute;
    top: 0.4rem;
    width: 1.6rem;
    height: 0.3rem;
    line-height: 0.3rem;
}
.guess-error {
    width: 0.6rem;
    height: 0.74rem;
    display: none;
}
.share-code {
    width: 1.34rem;
    height: 1.34rem;
    margin: 0 auto;
    background: #fff;
}

.share-ta-layer {
    background-color: rgba(0, 0, 0, 0.7);
}

.share-ta-layer img {

}

.share-pic-layer {
    background-color: rgba(0, 0, 0, 0.7);
}

.share-pic-layer img {

}
.save-pic-layer {
    background-color: rgba(0, 0, 0, 0.7);
}
.save-pic-layer div {
    height: 1rem;
    color: #fff;
    font-size: 24px;
    text-align: center;
}

#generatePicShow img {
    -webkit-touch-callout: default !important;
}
