@charset "UTF-8";
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
header,
ul,
li,
dl,
dt,
dd,
ol,
nav,
input,
footer {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    color: #000;
    background: #999;
    overflow-x: hidden;
    /*上下拉动滚动条卡顿设置*/
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

body,
button,
input,
select,
textarea {
    font: 10px/1.5;
}

button,
input {
    background: transparent;
    outline: none;
    border: none;
}

html {
    /* font-size: 62.5%; */
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
}


/*长按页面闪退设置*/

element {
    -webkit-touch-callout: none;
}


/*1px边框*/

Element {
    border-width: thin;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul,
li {
    list-style: outside none none;
}


/*img{border:none;  vertical-align:middle; width:100%;}*/

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

:focus {
    outline: 0;
}


/*去掉iPhone上的默认圆角样式*/

input {
    -webkit-appearance: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}


/*去出选中时高亮*/

img,
a,
div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

::selection {
    background: none;
}

::-moz-selection {
    background: none;
}

::-webkit-selection {
    background: none;
}


/*隐藏bady滚动条*/

*::-webkit-scrollbar {
    display: none;
}


/*清除浮动*/

.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.selectAvailable {
    -webkit-tap-highlight-color: rgba(231, 105, 105, 0.7);
    -webkit-touch-callout: default;
    -webkit-user-select: text;
}

.selectAvailable::selection {
    background: rgba(231, 105, 105, 0.7);
}

.selectAvailable::-webkit-selection {
    background: rgba(231, 105, 105, 0.7);
}


/*实用类*/

.otl {
    outline: 1px solid red;
}


/*ab-c 居中*/

.ab-c {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ab-c-w {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


/*ab-f 全屏*/

.ab-f {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.dp-n {
    display: none !important;
}

.dp-b {
    display: block !important;
}

.op0 {
    opacity: 0;
}

.w100 {
    width: 100%;
}

.ajaxLayer {
    display: none;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.6);
}

.up {
    top: -100%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.down {
    top: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.P3Anition {
    -webkit-animation: P3XY 1s ease-out forwards;
    -moz-animation: P3XY 1s ease-out forwards;
    -ms-animation: P3XY 1s ease-out forwards;
    animation: P3XY 1s ease-out forwards;
}

@-webkit-keyframes P3XY {
    0% {
        z-index: 5;
        top: 260%;
        -webkit-transform: scale(3) rotate(0deg);
        -moz-transform: scale(3) rotate(0deg);
        -ms-transform: scale(3) rotate(0deg);
        -o-transform: scale(3) rotate(0deg);
        transform: scale(3) rotate(0deg);
    }
    100% {
        z-index: 2;
        top: 15%;
        -webkit-transform: scale(1) rotate(-5deg);
        -moz-transform: scale(1) rotate(-5deg);
        -ms-transform: scale(1) rotate(-5deg);
        -o-transform: scale(1) rotate(-5deg);
        transform: scale(1) rotate(-5deg);
    }
}

@-moz-keyframes P3XY {
    0% {
        z-index: 5;
        top: 260%;
        -webkit-transform: scale(3) rotate(0deg);
        -moz-transform: scale(3) rotate(0deg);
        -ms-transform: scale(3) rotate(0deg);
        -o-transform: scale(3) rotate(0deg);
        transform: scale(3) rotate(0deg);
    }
    100% {
        z-index: 2;
        top: 15%;
        -webkit-transform: scale(1) rotate(-5deg);
        -moz-transform: scale(1) rotate(-5deg);
        -ms-transform: scale(1) rotate(-5deg);
        -o-transform: scale(1) rotate(-5deg);
        transform: scale(1) rotate(-5deg);
    }
}

@-ms-keyframes P3XY {
    0% {
        z-index: 5;
        top: 260%;
        -webkit-transform: scale(3) rotate(0deg);
        -moz-transform: scale(3) rotate(0deg);
        -ms-transform: scale(3) rotate(0deg);
        -o-transform: scale(3) rotate(0deg);
        transform: scale(3) rotate(0deg);
    }
    100% {
        z-index: 2;
        top: 15%;
        -webkit-transform: scale(1) rotate(-5deg);
        -moz-transform: scale(1) rotate(-5deg);
        -ms-transform: scale(1) rotate(-5deg);
        -o-transform: scale(1) rotate(-5deg);
        transform: scale(1) rotate(-5deg);
    }
}

@keyframes P3XY {
    0% {
        z-index: 5;
        top: 260%;
        -webkit-transform: scale(3) rotate(0deg);
        -moz-transform: scale(3) rotate(0deg);
        -ms-transform: scale(3) rotate(0deg);
        -o-transform: scale(3) rotate(0deg);
        transform: scale(3) rotate(0deg);
    }
    100% {
        z-index: 2;
        top: 15%;
        -webkit-transform: scale(1) rotate(-5deg);
        -moz-transform: scale(1) rotate(-5deg);
        -ms-transform: scale(1) rotate(-5deg);
        -o-transform: scale(1) rotate(-5deg);
        transform: scale(1) rotate(-5deg);
    }
}

.subXinYPageAni {
    -webkit-animation: subXinYAni 1s ease-out forwards;
    -moz-animation: subXinYAni 1s ease-out forwards;
    -ms-animation: subXinYAni 1s ease-out forwards;
    animation: subXinYAni 1s ease-out forwards;
}

@-webkit-keyframes subXinYAni {
    0% {
        top: 0%;
    }
    100% {
        top: -120%;
    }
}

.P2KaAni {
    -webkit-animation: P2ka 1s ease-out forwards;
    -moz-animation: P2ka 1s ease-out forwards;
    -ms-animation: P2ka 1s ease-out forwards;
    animation: P2ka 1s ease-out forwards;
}

@-webkit-keyframes P2ka {
    0% {
        -webkit-transform: rotate(11deg);
        -moz-transform: rotate(11deg);
        -ms-transform: rotate(11deg);
        -o-transform: rotate(11deg);
        transform: rotate(11deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-moz-keyframes P2ka {
    0% {
        -webkit-transform: rotate(11deg);
        -moz-transform: rotate(11deg);
        -ms-transform: rotate(11deg);
        -o-transform: rotate(11deg);
        transform: rotate(11deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-ms-keyframes P2ka {
    0% {
        -webkit-transform: rotate(11deg);
        -moz-transform: rotate(11deg);
        -ms-transform: rotate(11deg);
        -o-transform: rotate(11deg);
        transform: rotate(11deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes P2ka {
    0% {
        -webkit-transform: rotate(11deg);
        -moz-transform: rotate(11deg);
        -ms-transform: rotate(11deg);
        -o-transform: rotate(11deg);
        transform: rotate(11deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.P2KaOpacity {
    -webkit-animation: P2KaOpa 1s ease-out forwards;
    -moz-animation: P2KaOpa 1s ease-out forwards;
    -ms-animation: P2KaOpa 1s ease-out forwards;
    animation: P2KaOpa 1s ease-out forwards;
}

@-webkit-keyframes P2KaOpa {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes P2KaOpa {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes P2KaOpa {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@keyframes P2KaOpa {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

body {
    width: 100%;
    height: 100%;
    max-width: 750px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    font-family: "宋体", serif, "SimSun", Arial, Helvetica, sans-serif;
    color: #46545e;
}

input::-webkit-input-placeholder,
input,
button,
body,
div {
    /* WebKit browsers */
    font-family: "宋体", serif, "SimSun", Arial, Helvetica, sans-serif;
}

input:-moz-placeholder,
input,
button,
body,
div {
    /* Mozilla Firefox 4 to 18 */
    font-family: "宋体", serif, "SimSun", Arial, Helvetica, sans-serif;
}

input::-moz-placeholder,
input,
button,
body,
div {
    /* Mozilla Firefox 19+ */
    font-family: "宋体", serif, "SimSun", Arial, Helvetica, sans-serif;
}

input:-ms-input-placeholder,
input,
button,
body,
div {
    /* Internet Explorer 10+ */
    font-family: "宋体", serif, "SimSun", Arial, Helvetica, sans-serif;
}

.seclaTran {
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    -o-transform: scale(0.96);
    transform: scale(0.96);
}


/*********************************************************/

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    display: none;
}

.contentBody {
    width: 698px;
    height: 1158px;
    padding: 34px 34px;
    background: url(../img/contentBg.jpg) no-repeat;
    box-sizing: border-box;
    text-align: center;
}

.page-1 {
    display: none;
    background-color: #ffffff;
    text-align: center;
}

.page1-logo {
    margin-top: 30px;
}

.page1-text {
    margin-top: 100px;
}

.page1-BtnBody {
    width: 346px;
    height: 178px;
    background: url(../img/1-btn-bg.png) no-repeat;
    top: 900px;
}

.yun-left1 {
    position: absolute;
    left: -35px;
    top: 693px;
}

.yun-right1 {
    position: absolute;
    top: 892px;
    right: -33px;
}

#MakeWish {
    width: 100%;
    height: 80px;
    margin-top: 50px;
}

#page1Rules {
    width: 137px;
    height: 60px;
    margin-left: 90px;
}

.page-1Rules,
.page-2 {
    background: url("../img/body-bg.png") no-repeat;
    background-size: cover;
}

.rulesBody {
    background: url(../img/1-rules.jpg) no-repeat;
}

.closeRulse {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 27px;
    top: 27px;
}

.page2ConBody {
    width: 631px;
    height: 744px;
    position: absolute;
    overflow: hidden;
}

.page2ConBody img {
    position: absolute;
}

.page2ConBody .kaP1 {
    top: 81px;
    width: 398px;
    /* top: -100%; */
    left: 127px;
    -webkit-transform: rotate(11deg);
    -moz-transform: rotate(11deg);
    -ms-transform: rotate(11deg);
    -o-transform: rotate(11deg);
    transform: rotate(11deg);
    opacity: 0;
}

.page2ConBody .kaP2 {
    top: 70px;
    width: 398px;
    /* top: -100%; */
    left: 127px;
    display: none;
    -webkit-transform: rotate(11deg);
    -moz-transform: rotate(11deg);
    -ms-transform: rotate(11deg);
    -o-transform: rotate(11deg);
    transform: rotate(11deg);
}

.page2ConBody .page2man {
    top: 204px;
    left: -130px;
}

.page2ConBody .page2woman {
    top: 403px;
    left: 650px;
}

.formBody {
    position: absolute;
    width: 630px;
    height: 180px;
    left: 0;
    right: 0;
    margin: auto;
    top: 785px;
    display: none;
}

.swiper-container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1000%;
    height: 100%;
    overflow: hidden;
}

.swiper-wrapper,
.swiper-slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 65px;
    z-index: 10;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}

.swiper-slide-active {
    z-index: 2;
}


/* 小圆点 */

.page2List1 {
    width: 250px;
    height: 50px;
    position: absolute;
    left: 192px;
    top: 22px;
}

.page2List2 {
    width: 225px;
    height: 50px;
    position: absolute;
    left: 80px;
    top: 103px;
}

.page2List3 {
    width: 223px;
    height: 50px;
    position: absolute;
    left: 351px;
    top: 103px;
}

.r1 {
    background: #ffffff url("../img/page2-01.png") no-repeat center;
}

.r2 {
    background: #ffffff url("../img/page2-02.png") no-repeat center;
}

.r3 {
    background: #ffffff url("../img/page2-03.png") no-repeat center;
}

.page2Error {
    height: 40px;
    margin-top: -40px;
    color: red;
    font-size: 22px;
    line-height: 40px;
}

.page2BtnBody {
    width: 309px;
    height: 80px;
    position: absolute;
    top: 1000px;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}

.page2BtnBody #SubmitWish {
    width: 100%;
    height: 80px;
    margin-top: 1px;
    background-color: #46545e;
    color: #fefefe;
    font-size: 35px;
    letter-spacing: 3px;
    line-height: 80px;
    border-radius: 5px;
}

#page2Text {
    position: absolute;
    background: transparent;
    top: 530px;
    width: 300px;
    height: 40px;
    left: 163px;
    font-size: 26px;
    text-align: center;
    color: #929292;
    display: none;
}

.page2Tip {
    background-color: rgba(0, 0, 0, 0.7);
}

.page-3 .page3Bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.page-3 .page3ConBody {
    width: 634px;
    height: 744px;
    z-index: 2;
    background: url("../img/2-kaP2.png") no-repeat;
}

.page-3 .page3ConBody #P3text {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 526px;
    font-size: 25px;
    color: #929292;
}

.page-3 .page3xin-bg {
    position: absolute;
    left: 0;
    bottom: 0;
}

.page-3 #page3btn {
    height: 420px;
    width: 553px;
    position: absolute;
    z-index: 3;
    background: url(../img/3-top-logo.png) no-repeat;
    display: none;
}

.page-4 {
    background: url(../img/body-bg.png) no-repeat;
    background-size: cover;
    display: none;
}

.page-4 .ZF-text {
    position: absolute;
    top: 180px;
    width: 100%;
    text-align: center;
}

.page-4 .page4BigBody {
    position: absolute;
    width: 272px;
    height: 429px;
    top: 9%;
    font-size: 24px;
}

.page-4 .page4Bg {
    width: 183px;
    height: 282px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background: url(../img/4-min-xin.png) no-repeat;
    background-size: 100%;
}

.page-4 .page4Bg img {
    display: none;
    width: 93%;
    height: 95%;
    margin-left: 3%;
    margin-top: 3%;
}

.page-4 .TiJiaoTopBody {
    text-align: center;
    margin-top: 5%;
    display: none;
}

.page-4 .CaiTopBody {
    width: 622px;
    height: 192px;
    background: url(../img/p4caititle.png) no-repeat right bottom;
    margin-top: 8%;
    display: none;
}

.page-4 .CaiTopBody .P4headerImg {
    position: absolute;
    left: 0;
    top: 10px;
    width: 80px;
    height: 80px;
}

.page-4 .CaiTopBody .P4headerImg img {
    width: 100%;
    height: 100%;
}

.page-4 .CaiTopBody .P4headerName {
    position: absolute;
    left: 115px;
    top: 10px;
    height: 35px;
    color: #40525c;
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 30px;
}

.page-4 .filter {
    -webkit-filter: blur(10px);
    /* Chrome, Opera */
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.page-4 .page4Con1 {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    top: -40%;
    left: -161%;
    z-index: 3;
}

.page-4 .page4Con2 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    top: -42%;
    left: 9%;
    z-index: 3;
}

.page-4 .page4Con3 {
    -webkit-transform: rotate(14deg);
    -moz-transform: rotate(14deg);
    -ms-transform: rotate(14deg);
    -o-transform: rotate(14deg);
    transform: rotate(14deg);
    top: -37%;
    left: 103%;
    z-index: 3;
}

.page-4 .page4Con4 {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 21%;
    left: -173%;
    z-index: 2;
}

.page-4 .page4Con5 {
    top: 260%;
    left: -10%;
    z-index: 5;
    -webkit-transform: scale(3) rotate(0deg);
    -moz-transform: scale(3) rotate(0deg);
    -ms-transform: scale(3) rotate(0deg);
    -o-transform: scale(3) rotate(0deg);
    transform: scale(3) rotate(0deg);
}

.page-4 .page4Con6 {
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    transform: rotate(8deg);
    top: 21%;
    left: 96%;
    z-index: 2;
}

.page-4 .page4Con7 {
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    transform: rotate(7deg);
    top: 81%;
    left: -162%;
}

.page-4 .page4Con8 {
    -webkit-transform: rotate(-9deg);
    -moz-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    -o-transform: rotate(-9deg);
    transform: rotate(-9deg);
    top: 79%;
    left: -7%;
}

.page-4 .page4Con9 {
    -webkit-transform: rotate(-19deg);
    -moz-transform: rotate(-19deg);
    -ms-transform: rotate(-19deg);
    -o-transform: rotate(-19deg);
    transform: rotate(-19deg);
    top: 75%;
    left: 98%;
}

.page-4 .page4BtnBody {
    top: 85%;
    height: 80px;
    text-align: center;
    display: none;
}

.page-4 .page4BtnBody #page4YQC {
    width: 310px;
    height: 80px;
    margin-top: 1px;
    background-color: #46545e;
    color: #fefefe;
    font-size: 35px;
    letter-spacing: 3px;
    line-height: 80px;
    border-radius: 10px;
}

.page4Error {
    text-align: center;
    color: #ffffff;
}

.page4Error .caiNO {
    width: 553px;
    height: 217px;
    display: none;
    background: url(../img/page4-caiNo.png) no-repeat;
}

.page4Error .NObtn8Body {
    width: 553px;
    height: 315px;
    display: none;
    background: url(../img/page4-caiNo8.png) no-repeat;
}

.page4Error .NObtn8Body .NObtn8Close {
    width: 100px;
    height: 100px;
    right: 0;
    top: 0;
    position: absolute;
}

.page4Error .NObtn8Body .NObtn8 {
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0;
    bottom: 0;
}

.page4Error .caiYes {
    width: 553px;
    height: 315px;
    display: none;
    background: url(../img/page4-caiYes.png) no-repeat;
}

.page4Error .caiYes .caiYesBtn {
    width: 100%;
    height: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.page-5 {
    background: url("../img/body-bg.png") no-repeat;
    background-size: cover;
}

.page-5 .page5MoqiBg {
    position: absolute;
}

.page5Con {
    height: 1190px;
    width: 733px;
}

.page5Con img {
    width: 100%;
}

.page5Con .AheaderImg {
    position: absolute;
    left: 245px;
    top: 177px;
    width: 75px;
    height: 75px;
    background-color: aqua !important;
    border-radius: 50%;
}

.page5Con .AheaderImg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.page5Con .AheaderName {
    position: absolute;
    left: 184px;
    top: 268px;
    height: 60px;
    line-height: 60px;
    width: 190px;
    text-align: center;
    color: #6b767e;
    font-size: 23px;
}

.page5Con .BheaderImg {
    position: absolute;
    left: 412px;
    top: 176px;
    width: 75px;
    height: 75px;
    background-color: aqua !important;
    border-radius: 50%;
}

.page5Con .BheaderImg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.page5Con .BheaderName {
    position: absolute;
    left: 356px;
    top: 268px;
    height: 60px;
    line-height: 60px;
    width: 190px;
    text-align: center;
    color: #6b767e;
    font-size: 23px;
}

.page5Con .MOqiTitle {
    position: absolute;
    left: 0;
    top: 405px;
    width: 100%;
    text-align: center;
    color: #6b767e;
    font-size: 35px;
}

.page5Con .MOqiTitle span {
    font-size: 75px;
}

.page5Con .MOqiText {
    position: absolute;
    left: 0;
    top: 516px;
    width: 100%;
    text-align: center;
    color: #6b767e;
    font-size: 30px;
}

.page5Con .giveLove {
    width: 340px;
    height: 80px;
    top: 567px;
}

.page-6 .contentBody {
    background: url(../img/box.jpg) no-repeat;
}

.page-6 .boxClose {
    width: 130px;
    height: 130px;
    position: absolute;
    right: 12px;
    top: 14px;
}

.page-6 .boxBtn {
    width: 300px;
    height: 83px;
    left: 0;
    right: 0;
    margin: auto;
    top: 1007px;
    position: absolute;
}

.page-7 .Pm-TopBody {
    position: absolute;
    left: -35px;
    top: -75px;
}

.page-7 .Pm-TopBody .PMBoxGo {
    width: 400px;
    height: 400px;
    position: absolute;
    right: 0;
    top: 121px;
}

.page-7 #Pm-conBody {
    height: 300px;
    width: 563px;
    overflow: auto;
    margin-top: 625px;
    padding: 0 35px;
    position: absolute;
}

.page-7 .iscrollBody {
    padding: 0 35px;
    height: 100%;
    width: 563px;
}

.page-7 .Pm-conBody {
    width: 563px;
    padding: 0 35px 0 66px;
}

.page-7 .Pm-conBody .PmText {
    width: 185px;
    height: 60px;
    font-size: 25px;
    margin-bottom: 20px;
    float: left;
    color: #525f69;
}

.page-7 .Pm-conBody .PmText div {
    display: inline-block;
    float: left;
}

.page-7 .Pm-conBody .PmText .userHeader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.page-7 .Pm-conBody .PmText .userHeader img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.page-7 .Pm-conBody .PmText .userName {
    height: 60px;
    width: 82px;
    line-height: 60px;
    margin: 0 15px;
    text-align: left;
    overflow: hidden;
    box-sizing: border-box;
}

.Fx-layer {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: right;
}

.Fx-layer img {
    margin: 60px 30px 0 0;
}

.subXinYPage {
    background-color: rgba(0, 0, 0, 0.7);
}

.subXinYPage .subXinYPageImg {
    top: 0;
}
